# Ignore everything
/*

# Include some of .config dirs
!/.config/
/.config/*
!/.config/ghostty
!/.config/nvim
!/.config/zsh
!/.config/starship.toml

# Root dirs to include
!/scripts/
# Root files to include
!/.gitignore
!/.tmux.conf
!/.zshrc
